[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
!WebGL-Build/
!WebGL-Build-Dev/
!WebGL-Build-Dev/Build/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.DS_Store
*.apk
*.aab
*.unitypackage
*.app

crashlytics-build.properties

.claude/settings.local.json
Assets/ThirdParty/
